<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="css/orangeJuice.css">
        <link rel="stylesheet" type="text/css" href="css/diapazen.css">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <title>Accueil</title>
    </head>
 
    <body>
        <!---->
        <div id="page">

            <header>
                <img id="logo" src="media/pictures/diapazen.png" alt="">
                <div id="connect">
                    <h3 class="smallTitle">Se connecter</h3>
                    <input id="mailUser" class="smallTextEdit" type="mail" placeholder="E-mail">
                    <input id="pwdUser" class="smallTextEdit" type="password" placeholder="Mot de passe">
                    <input class ="smallButton" type="button" value="Connexion">
                </div>
            </header>

            <input class ="bigButton" type="button" value="Créer un sondage">
            <div id="info">
                <img src="media/pictures/zen1.png" alt="">
                <article>
                    <h2 class="bigTitle">Créez votre sondage*</h2>
                    <p class="bigText">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </article>
                <img src="media/pictures/zen2.png" alt="">
                <article>
                    <h2 class="bigTitle">Ajoutez des propositions</h2>
                    <p class="bigText">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </article>
                <img src="media/pictures/zen3.png" alt="">
                <article>
                    <h2 class="bigTitle">Partagez-le et c'est parti !</h2>
                    <p class="bigText">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </article>
                <p id="asterisk" class="bold">*Créer un sondage nécessite une inscription, celle-ci peut se faire en même temps que la création de votre sondage</p>
            </div>

            <footer>
                <nav>
                    <ul>
                        <li><a class="link" href="#">Accueil</a></li>
                        <li><a class="link" href="#">A propos</a></li>
                        <li><a class="link" href="#">Contact</a></li>
                    </ul>
                </nav>
                <p class="text">© Diapazen</p>
            </footer>
            
        </div>
    </body>

</html>