<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="css/orangeJuice.css">
        <link rel="stylesheet" type="text/css" href="css/diapazen.css">
        <link rel="stylesheet" type="text/css" href="css/creationSondage.css">
        <title></title>
    </head>
 
    <body>
        <div id="page">

            <header>
                <img id="logo" src="media/pictures/diapazen.png" alt="">
                <!----
                <div id="connect">
                    <h3 class="smallTitle">Se connecter</h3>
                    <input id="mailUser" class="smallTextEdit" type="mail" placeholder="E-mail">
                    <input id="pwdUser" class="smallTextEdit" type="password" placeholder="Mot de passe">
                    <input class ="smallButton" type="button" value="Connexion">
                </div>
                <!---->
            </header>

            <div id="ariadneThread"> 
                <a class="ariadne" href="#">Création</a>
                <a class="ariadne2" href="#">Connexion</a>
                <a class="ariadne2" href="#">Partage</a>
            </div>

            <h1 class="smallTitle">Paramètres :</h1>
            <input class="bigText" id="titleInput" type="text" placeholder="Titre">
            <textarea class="text" id="descriptionInput" placeholder="Description"></textarea>
            <h1 class="smallTitle">Vos choix :</h1>
            <div class="choice">
                <input class="text" type="text" value="Choix 1">
                <input class="smallButton2" type="button" value="x">
            </div>
            <div class="choice">
                <input class="text" type="text" placeholder="Choix 2">
                <input class="smallButton" type="button" value="+">
            </div>
            <input class="button" type="button" value="Etape suivante">

            <footer>
                <nav>
                    <ul>
                        <li><a class="link" href="#">Accueil</a></li>
                        <li><a class="link" href="#">A propos</a></li>
                        <li><a class="link" href="#">Contact</a></li>
                    </ul>
                </nav>
                <p class="text">© Diapazen</p>
            </footer>

        </div>
    </body>

</html>