<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="css/orangeJuice.css">
        <link rel="stylesheet" type="text/css" href="css/diapazen.css">
        <link rel="stylesheet" type="text/css" href="css/surveyConnection.css">
        <title></title>
    </head>
 
    <body>
        <div id="page">

            <header>
                <img id="logo" src="media/pictures/diapazen.png" alt="">
                <!--
                <form action="" id="connect">
                    <h3 class="smallTitle">Se connecter</h3>
                    <input id="mailUser" class="smallTextEdit" type="mail" placeholder="E-mail">
                    <input id="pwdUser" class="smallTextEdit" type="password" placeholder="Mot de passe">
                    <input class ="smallButton" type="submit" value="Connexion">
                </form>
                -->
            </header>

            <form action="surveyShare.html" class="create">
                <div id="ariadneThread"> 
                    <a class="ariadne2" href="#">Création</a>
                    <a class="ariadne" href="#">Connexion</a>
                    <a class="ariadne2" href="#">Partage</a>
                </div>
                <input id="mailUser" class="smallTextEdit" type="mail" placeholder="E-mail">
                <p class="text"><input type="radio" name="inscrit" value="inscription"/>Déjà un compte</p>
                <p class="text"><input type="radio" name="inscrit" value="connexion"/>C'est rapide, je m'inscris</p>
                <input id="pwdUser" class="smallTextEdit" type="password" placeholder="Mot de passe">
                <!--
                <p class="text" id="confi">Un mail sera envoyé à cette adresse e-mail avec votre mot de passe généré</p>
                -->
                <input class="button" type="submit" value="Etape suivante"/>
            </form>
            <footer>
                <nav>
                    <ul>
                        <li><a class="link" href="index.html">Accueil</a></li>
                        <li><a class="link" href="#">A propos</a></li>
                        <li><a class="link" href="#">Contact</a></li>
                    </ul>
                </nav>
                <p class="text">© Diapazen</p>
            </footer>

        </div>
    </body>

</html>