#ariadneThread{
	margin-bottom: 20px;
}

.smallTitle, #titleInput, #descriptionInput, .choice{
	display: block;
	margin-bottom: 10px;
}

#descriptionInput{
	min-width: 20em;
	max-width: 20em;
	min-height: 5em;
	max-height: 5em;
}

#titleInput, #descriptionInput, .choice, .button{
	margin-left: 10px;
}