#content > .title
{
	display: inline-block;
}

#content > form
{
	display: inline-block;
	float: right;
} 

#content .small_title
{
	margin-top: 20px;
}

/*-----------------------------------------------------------------------------*/
/*--------------------------LISTE DE SONDAGES----------------------------------*/
/*-----------------------------------------------------------------------------*/

#poll_list
{
	margin-top: 10px;
	width: inherit;
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid #FF4820;
	border-radius:5px;
	max-height: 400px;
}

#poll_list table
{
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

#poll_list td
{
	padding: 5px;
	border: 1px solid #919191;
	text-align: center;
	position: relative;
}

#poll_list tr:first-child td
{
	border-top: none;
}

#poll_list tr:last-child td
{
	border-bottom: none;
}

#poll_list tr td:first-child
{
	width: 10%;
	border-left: none;
}

#poll_list tr td:first-child + td
{
	width: 30%;
}

#poll_list tr td:last-child
{
	border-top: none;
	border-left: none;
	border-right: none;
	background-color: #FFFFFF;
	width: 8%;
}

.opened_poll td:first-child
{
	color: #FF4820;
}

.closed_poll td
{
	background-color: #D0D0D0;
}

/*-----------------------------------------------------------------------------*/
/*---------------------------LISTE DE CONTACT----------------------------------*/
/*-----------------------------------------------------------------------------*/

#contact_list
{
	margin-top: 10px;
	width: 50%;
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid #FF4820;
	border-radius:5px;
	max-height: 150px;
}

#contact_list table
{
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

#contact_list td
{
	padding: 2px;
	padding-left: 10px;
	border-bottom: 1px solid #919191;
}

#contact_list tr:last-child td
{
	border-bottom: none;
}

#contact_list tr td:first-child
{
	width: 88%;
}

#contact_list + .small_text_edit
{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 45%;
}
