#ariadne_thread
{
	margin-bottom: 20px;
}

#content .big_title, .title, .small_title, #share_info, #link_output, .small_text_edit
{
	margin-bottom: 10px;
}

#link_output
{
	display:block;
	border: 0px;
}

#link_output:hover
{
	border: 0px;
}

#content .orange_button
{
	display: block;
}

#content #link_output, #share_info, .small_text_edit
{
	margin-left: 10px;
}

#content form textarea
{
	min-width: 300px;
	max-width: 780px;
	min-height: 7em;
}