/* header.php */

#connected_box
{
	float: right;
	height: 62px;
	text-align: right;
}

#connected_box p
{
	margin-top: 10px;
	margin-bottom: 10px;
}

/* page 404 */

#broken_diapason
{
	float: left;
}

#text_404
{
	margin-left: 400px;
}

#text_404 p:first-child
{
	margin-bottom: 80px;
}

#text_404 p:nth-child(2)
{
	margin-bottom: 20px;
}

/* login.php */

#connect_box_fail p
{
	padding-top: 30px;
	padding-bottom: 30px;
}

/* home.css */

#content .use_description
{
    display: inline-block;
    vertical-align: middle;
    text-align:justify;
    margin-top: 15px;
    margin-left: 10px;
    width: 100%;
}

#create_survey {
    float: right;
    margin-top: 80px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 1.8em;
}

#content .use_description:nth-child(4) {
    width: 700px;
}

.icon_article
{
    float: left;
    width: 140px;
    height: 140px;
    background-image: url('../media/pictures/sprites_140x140.png');
    background-repeat: no-repeat;
    display: block;
}

.icon_article#img_un
{
    background-position: -140px 0px;
}

.icon_article#img_deux
{
     background-position: -280px 0px;
}


.icon_article#img_trois
{
    background-position: -420px 0px;
}


.text_article
{
    padding-left: 170px;
}

.text_article > h2
{
    margin-top: 30px;
}

#content > #asterisk
{
    margin-left: 150px;
    margin-bottom: 20px;
}

.use_description h2, p
{
    display: block;
}

#asterisk
{
    text-align:justify;
}


/* pollShare.css */

#ariadne_thread
{
	margin-bottom: 20px;
}

#share_form .big_title, #share_form .title, #share_form .small_title, #share_form #share_info, #share_form #link_output, #share_form .small_text_edit
{
	margin-bottom: 15px;
}

#link_output
{
	display:block;
	border: 0px;
}

#link_output:hover
{
	border: 0px;
}

#share_form .orange_button
{
	display: block;
}

#share_form #link_output, #share_form #share_info, #share_form .small_text_edit
{
	margin-left: 10px;
}

#share_form textarea
{
	min-width: 300px;
	max-width: 780px;
	min-height: 7em;
}

/* pollView.css */

#poll
{
	height: 600px;
}

#poll_choices
{
	width: inherit;
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px #FF4820 solid;
	border-radius:5px;
	max-height: 400px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#poll_choices table
{
	border-collapse: collapse;
	width: 100%;
}


#poll_choices tr
{
	border-bottom: 1px #919191 solid;
}

#poll_choices tr:last-child
{
	border-bottom: none;
}

#poll_choices td
{
	border-right: 1px #919191 solid;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	position: relative;
}

#poll_choices td:last-child
{
	border-right: none;
}

#poll .title, #poll .small_title
{
	margin-bottom: 10px;
}

#poll > .text
{
	margin-top: 30px;
}

/* personalData.css */

#personal_data_form .big_title
{
	margin-bottom: 30px;
}

/* dashboard.css */

#float_button_dashboard
{
	float: right;
}

.small_title_dashboard
{
	margin: 40px;
	text-decoration: underline;
}

/*-----------------------------------------------------------------------------*/
/*--------------------------LISTE DE SONDAGES----------------------------------*/
/*-----------------------------------------------------------------------------*/

#poll_list
{
	margin-top: 10px;
	width: inherit;
	/*overflow-x: hidden;*/
	/*overflow-y: auto;*/
	border: 1px solid #FF4820;
	/*border-radius:5px;*/
	/*max-height: 650px;*/
	margin-bottom: 10px;
}

#poll_list table
{
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;

}

#poll_list table a 
{
	display: block;
}

#poll_list td
{
	padding: 10px;
	border: 1px solid #919191;
	text-align: center;
	position: relative;

	vertical-align: middle;
}

#poll_list tr:first-child td
{
	border-top: none;
}

#poll_list tr:last-child td
{
	border-bottom: none;
}

#poll_list tr td:first-child
{
	width: 10%;
	border-left: none;
}

#poll_list tr td:first-child + td
{
	width: 30%;
}

#poll_list tr td:last-child
{
	border-top: none;
	border-left: none;
	border-right: none;
	background-color: #FFFFFF;
	width: 8%;
}

.opened_poll td:first-child
{
	color: #FF4820;
}

.closed_poll td
{
	background-color: #D0D0D0;
}


/*pollConnection.css */

#poll_connection_form .orange_button
{
	display: block;
	margin-top:15px;
}

#mail_user
{
	width: 200px;
}

#poll_connection_form .text, #poll_connection_form .small_text_edit, #poll_connection_form label
{
	margin-bottom: 15px;
}

#poll_connection_form label
{
	display: block;

}

#poll_connection_form #not_registered, #poll_connection_form #registered
{
	margin-right: 10px;
}

#poll_connection_form #mail_info, #poll_connection_form #name_user, #poll_connection_form #first_name_user, #poll_connection_form #pwd_user
{
	display: none;
}

/* pollCreation.css */

#poll_creation_form .small_title, #poll_creation_form #id_title_input, #poll_creation_form #id_description_input, #poll_creation_form .choice
{
	display: block;
	margin-bottom: 15px;
}

#poll_creation_form #id_description_input
{
	min-width: 20em;
	max-width: 20em;
	min-height: 5em;
	max-height: 5em;
}

#poll_creation_form #id_title_input, #poll_creation_form #id_description_input, #poll_creation_form .choice, #poll_creation_form .button
{
	margin-left: 10px;
}