#pwdUser
{
	/*visibility :hidden;*/
}
#ariadneThread{
	margin-bottom: 20px;
}
#confi
{
	visibility :hidden;
}
.button
{
	display: block;
	margin-top:10px;
}
#mailUser
{
	width: 200px;
}
.create .text, .smallTextEdit
{
	margin-bottom: 10px;
}