#survey {
	height: 600px;
}

#survey-choices {
	width: inherit;
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px #FF4820 solid;
	border-radius:5px;
	max-height: 400px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#survey-choices table {
	border-collapse: collapse;
	width: 100%;
}


#survey-choices tr {
	border-bottom: 1px #919191 solid;
}

#survey-choices tr:last-child {
	border-bottom: none;
}

#survey-choices td {
	border-right: 1px #919191 solid;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	position: relative;
}

#survey-choices td link:hover {

}

#survey-choices td div {
	position: absolute;
	width: 200px;
	height: 200px;
	left: 350px;
	top: 0px;
	z-index: 10;
	display: none;
	border: 1px black solid;
}

#survey-choices td:last-child {
	border-right: none;
}

#survey .title, #survey .smallTitle {
	margin-bottom: 10px;
}

#survey > .text {
	margin-top: 30px;
}
