#ariadneThread{
	margin-bottom: 20px;
}

.bigTitle, .title, .smallTitle, #shareInfo, #linkOutput, .smallTextEdit{
	margin-bottom: 10px;
}

#linkOutput{
	display:block;
	border: 0px;
}

#linkOutput:hover{
	border: 0px;
}

.button{
	display: block;
}

#linkOutput, #shareInfo, .smallTextEdit, .button{
	margin-left: 10px;
}

.smallTextEdit{
	min-width: 300px;
	max-width: 780px;
	min-height: 7em;
}